In [ ]:
import pandas as pd

In [ ]:
dfs = pd.read_html('https://www.ourcommons.ca/Members/en/votes/43/2/17',header=0)

In [ ]:
df = dfs[0]

In [ ]:
df

,Member of Parliament,Political Affiliation,Member Voted,"Paired Two members from opposite sides of the House can agree to neutralize their votes by abstaining from voting on a given day, allowing them to be absent from the House."
0,Mr. Ziad Aboultaif(Edmonton Manning),Conservative,Nay,NaN
1,Mr. Scott Aitchison(Parry Sound—Muskoka),Conservative,Nay,NaN
2,Mr. Dan Albas(Central Okanagan—Similkameen—Nic...,Conservative,Nay,NaN
3,Mr. Omar Alghabra(Mississauga Centre),Liberal,Nay,NaN
4,Ms. Leona Alleslev(Aurora—Oak Ridges—Richmond ...,Conservative,Nay,NaN
...,...,...,...,...
314,Mr. David Yurdiga(Fort McMurray—Cold Lake),Conservative,Nay,NaN
315,Mrs. Salma Zahid(Scarborough Centre),Liberal,Nay,NaN
316,Ms. Lenore Zann(Cumberland—Colchester),Liberal,Nay,NaN
317,Mr. Bob Zimmer(Prince George—Peace River—North...,Conservative,Nay,NaN
318,Mr. Sameer Zuberi(Pierrefonds—Dollard),Liberal,Nay,NaN

In [ ]:
df.shape

(319, 4)

In [ ]:
df.columns = ['Member','Party','Vote','Paired']

In [ ]:
df.head()

,Member,Party,Vote,Paired
0,Mr. Ziad Aboultaif(Edmonton Manning),Conservative,Nay,NaN
1,Mr. Scott Aitchison(Parry Sound—Muskoka),Conservative,Nay,NaN
2,Mr. Dan Albas(Central Okanagan—Similkameen—Nic...,Conservative,Nay,NaN
3,Mr. Omar Alghabra(Mississauga Centre),Liberal,Nay,NaN
4,Ms. Leona Alleslev(Aurora—Oak Ridges—Richmond ...,Conservative,Nay,NaN

In [ ]:
df['Party'].value_counts().to_frame()

                Party
Liberal           146
Conservative      115
Bloc Québécois     31
NDP                22
Green Party         3
Independent         2

In [ ]:
df['Vote'].value_counts().to_frame()

     Vote
Nay   263
Yea    56